

#avatar-form{
    max-height: 700px;
    overflow-y: auto;
}

#avatar-form::-webkit-scrollbar{
    
    width: 10px;
}

#avatar-form::-webkit-scrollbar-track{
    
    background: #f1f1f1;
}

#avatar-form::-webkit-scrollbar-thumb {
    background: #343A40;
    
  }


@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Bold.ttf");
    }

@font-face {
    font-family: "Playfair Display";
    src: url("./fonts/PlayfairDisplay-Bold.ttf");
    }

@font-face {
    font-family: 'Caveat';
    src: url("./fonts/Caveat-Bold.ttf");
    }

@font-face {
    font-family: "Orbitron";
    src: url("./fonts/Orbitron-Bold.ttf");
       }

@font-face {
        font-family: "Dancing Script";
        src: url("./fonts/DancingScript-Bold.ttf");
        }
    
@font-face {
        font-family: "MuseoModerno";
        src: url("./fonts/MuseoModerno-Bold.ttf");
        }
    
@font-face {
        font-family: 'Grenze Gotisch';
        src: url("./fonts/GrenzeGotisch-Bold.ttf");
        }
    
@font-face {
        font-family: "Grandstander";
        src: url("./fonts/Orbitron-Bold.ttf");
           }
@font-face {
        font-family: 'Cinzel';
        src: url("./fonts/Cinzel-Bold.ttf");
            }
        
@font-face {
        font-family: "Texturina";
        src: url("./fonts/Texturina_18pt-BoldItalic.ttf");
        }


.font1{
      font-family: "Roboto";
}

.font2{
    font-family: "Playfair Display";
}

.font3{
    font-family: "Caveat";
}
.font4{
    font-family: "Orbitron";
}
.font5{
    font-family: "Dancing Script";
}

.font6{
  font-family: "MuseoModerno";
}

.font7{
  font-family: "Grenze Gotisch";
}
.font8{
  font-family: "Grandstander";
}

.font9{
    font-family: "Cinzel";
  }
.font10{
    font-family: "Texturina";
  }


.body-light{
    


    background: #673AB7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    


}
.body-dark{
background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.theme{
    float: right;
}

.theme a{
    color: dodgerblue;
    text-decoration: none;
}
.theme a:hover{
    color: rgb(161, 161, 161);
    text-decoration: none;
}

.social-media{
    font-size: 2rem;
    color: rgb(255, 255, 255);
   
}



footer a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}
footer a:hover{
    text-decoration: none;
    color: rgb(255, 166, 0);
}



#logoControl{
    font-size: larger;    
    float: right;
}

input[type="radio"]
{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  opacity: 0.8;
  vertical-align: middle;
  
}
input[type="radio"]:hover
{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  opacity: 1;
  
}



/* Styles for Bgcolor selector */
.bg1 input[type='radio']:after {
    width: 25px;
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.5px solid rgb(192, 192, 192);
    
}

.bg1 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bg2 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #FEC803;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bg2 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #FEC803;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bg3 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #CD4803;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bg3 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #CD4803;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bg4 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #741188;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bg4 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #741188;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bg5 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #BBB1D6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bg5 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #BBB1D6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bg6 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #3780C5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bg6 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #3780C5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bg7 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #003980;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bg7 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #003980;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bg8 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #4DB592;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bg8 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #4DB592;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bg9 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #02822D;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bg9 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #02822D;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bg10 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #333333;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bg10 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #333333;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}


/* Styles for forecolor selector */
.fg1 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.5px solid rgb(192, 192, 192);
    
}

.fg1 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.fg2 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #FEC803;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.fg2 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #FEC803;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.fg3 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #CD4803;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.fg3 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #CD4803;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.fg4 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #741188;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.fg4 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #741188;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.fg5 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #BBB1D6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.fg5 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #BBB1D6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.fg6 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #3780C5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.fg6 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #3780C5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.fg7 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #003980;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.fg7 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #003980;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.fg8 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #4DB592;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.fg8 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #4DB592;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.fg9 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #02822D;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.fg9 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #02822D;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.fg10 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #333333;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.fg10 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #333333;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}


/* Styles body color selector */
.bdg1 input[type='radio']:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color: #BBBBBB;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bdg1 input[type='radio']:checked:after {
    width: 40px;
    height: 40px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color: #BBBBBB;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bdg2 input[type='radio']:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color:#E7D5C7;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bdg2 input[type='radio']:checked:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color:#E7D5C7;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bdg3 input[type='radio']:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color: #E3C3AC;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bdg3 input[type='radio']:checked:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color: #E3C3AC;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bdg4 input[type='radio']:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color: #C29F81;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bdg4 input[type='radio']:checked:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color: #C29F81;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bdg5 input[type='radio']:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color:#754839;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bdg5 input[type='radio']:checked:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color:#754839;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.bdg6 input[type='radio']:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color: #4F3127;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.bdg6 input[type='radio']:checked:after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: bolder;
    color: white;
    width: 40px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    background-color: #4F3127;
    content: '\f1ae';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

/* eyebrows Styles*/

.eyeb input[type='radio']:after, .eye input[type='radio']:after  {
    color: white;
    width: 60px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.eyeb input[type='radio']:checked:after, .eye input[type='radio']:checked:after {
    color: white;
    width: 60px;
    height: 40px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.eyeb1 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyebrowsample1.gif");
}
.eyeb2 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyebrowsample2.gif");
}
.eyeb3 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyebrowsample3.gif");
}
.eyeb4 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyebrowsample4.gif");
}
.eyeb5 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyebrowsample5.gif");
}
.eyeb6 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyebrowsample6.gif");
}


.eyebg1 input[type='radio']:after{
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.eyebg1 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.eyebg2 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #8C6900;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.eyebg2 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #8C6900;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.eyebg3 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #FFC926;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.eyebg3 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #FFC926;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.eyebg4 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #FFFF00;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.eyebg4 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #FFFF00;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.eyebg5 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid rgb(223, 223, 223);
    
}

.eyebg5 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.eyebg6 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #FF8000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.eyebg6 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #FF8000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.eyebg7 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #FF0000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.eyebg7 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #FF0000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.eyebg8 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #FF00FF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.eyebg8 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #FF00FF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.eyebg9 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #007FFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.eyebg9 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #007FFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.eyebg10 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #36D900;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.eyebg10 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #36D900;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}


/* eyes styles*/

.eye1 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyeample1.jpg");
}
.eye2 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyeample2.jpg");
}
.eye3 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyeample3.jpg");
}
.eye3w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/eyeample3.jpg");
}
.eye4 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyeample4.jpg");
}
.eye5 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyeample5.jpg");
}
.eye5w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/eyeample5.jpg");
}
.eye6 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyeample6.jpg");
}
.eye6w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/eyeample6.jpg");
}
.eye7 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyeample7.jpg");
}
.eye8 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyeample8.jpg");
}
.eye9 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyeample9.jpg");
}
.eye10 input[type='radio']:after{
    background-image: url("./media/CharacterMan/eyeample10.jpg");
}

/* mouth styles */
.mouth1 input[type='radio']:after{
    background-image: url("./media/CharacterMan/mouthsample1.gif");
}
.mouth2 input[type='radio']:after{
    background-image: url("./media/CharacterMan/mouthsample2.gif");
}
.mouth3 input[type='radio']:after{
    background-image: url("./media/CharacterMan/mouthsample3.gif");
}
.mouth3w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/mouthsample3.gif");
}
.mouth4 input[type='radio']:after{
    background-image: url("./media/CharacterMan/mouthsample4.gif");
}
.mouth4w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/mouthsample4.gif");
}
.mouth5 input[type='radio']:after{
    background-image: url("./media/CharacterMan/mouthsample5.gif");
}
.mouth6 input[type='radio']:after{
    background-image: url("./media/CharacterMan/mouthsample6.gif");
}
.mouth6w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/mouthsample6.gif");
}
.mouth7 input[type='radio']:after{
    background-image: url("./media/CharacterMan/mouthsample7.gif");
}
.mouth8 input[type='radio']:after{
    background-image: url("./media/CharacterMan/mouthsample8.gif");
}
.mouth9 input[type='radio']:after{
    background-image: url("./media/CharacterMan/mouthsample9.gif");
}

.mouth10 input[type='radio']:after{
    background-image: url("./media/CharacterWoman/mouthsample10.gif");
}


/* hair styles */

.hairb input[type='radio']:after {
    color: white;
    width: 60px;
    height: 60px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.hairb input[type='radio']:checked:after{
    color: white;
    width: 60px;
    height: 60px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.hairb1 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample1.gif");
}
.hairb2 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample2.gif");
}
.hairb3 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample3.gif");
}
.hairb4 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample4.gif");
}
.hairb5 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample5.gif");
}
.hairb6 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample6.gif");
}
.hairb7 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample7.gif");
}
.hairb8 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample8.gif");
}
.hairb9 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample9.gif");
}
.hairb10 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample10.gif");
}
.hairb11 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample11.gif");
}
.hairb12 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample12.gif");
}
.hairb13 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample13.gif");
}
.hairb14 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample14.gif");
}
.hairb15 input[type='radio']:after{
    background-image: url("./media/CharacterMan/hairsample15.gif");
}



.hairb2w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample2.gif");
}
.hairb3w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample3.gif");
}
.hairb4w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample4.gif");
}
.hairb5w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample5.gif");
}
.hairb6w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample6.gif");
}
.hairb7w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample7.gif");
}
.hairb8w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample8.gif");
}
.hairb9w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample9.gif");
}
.hairb10w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample10.gif");
}
.hairb11w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample11.gif");
}
.hairb12w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample12.gif");
}

.hairb13w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample13.gif");
}
.hairb14w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample14.gif");
}
.hairb15w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/hairsample15.gif");
}




/*beards style*/
.beardb1 input[type='radio']:after{
    background-image: url("./media/CharacterMan/beardsample1.gif");
}
.beardb2 input[type='radio']:after{
    background-image: url("./media/CharacterMan/beardsample2.gif");
}
.beardb3 input[type='radio']:after{
    background-image: url("./media/CharacterMan/beardsample3.gif");
}
.beardb4 input[type='radio']:after{
    background-image: url("./media/CharacterMan/beardsample4.gif");
}
.beardb5 input[type='radio']:after{
    background-image: url("./media/CharacterMan/beardsample5.gif");
}
.beardb6 input[type='radio']:after{
    background-image: url("./media/CharacterMan/beardsample6.gif");
}
.beardb7 input[type='radio']:after{
    background-image: url("./media/CharacterMan/beardsample7.gif");
}
.beardb8 input[type='radio']:after{
    background-image: url("./media/CharacterMan/beardsample8.gif");
}
.beardb9 input[type='radio']:after{
    background-image: url("./media/CharacterMan/beardsample9.gif");
}
.beardb10 input[type='radio']:after{
    background-image: url("./media/CharacterMan/beardsample10.gif");
}



/* shirt styles */
.shirtg1 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #555555;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.shirtg1 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #555555;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}
.shirtg2 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #003366;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.shirtg2 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #003366;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}
.shirtg3 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color:#00661A;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.shirtg3 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #00661A;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}
.shirtg4 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #00BFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.shirtg4 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #00BFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}
.shirtg5 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #59B200;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.shirtg5 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #59B200;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}
.shirtg6 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #B20000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.shirtg6 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #B20000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}
.shirtg7 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #D9A300;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.shirtg7 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #D9A300;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}
.shirtg8 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #FFBFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.shirtg8 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #FFBFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.shirtg9 input[type='radio']:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5px;
    position: relative;
    background-color: #EEE;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.shirtg9 input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    top: -6px;
    border-radius: 5x;
    position: relative;
    background-color: #EEE;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.shirtb1 input[type='radio']:after{
    background-image: url("./media/CharacterMan/shirtsample1.gif");
}
.shirtb2 input[type='radio']:after{
    background-image: url("./media/CharacterMan/shirtsample2.gif");
}
.shirtb3 input[type='radio']:after{
    background-image: url("./media/CharacterMan/shirtsample3.gif");
}
.shirtb4 input[type='radio']:after{
    background-image: url("./media/CharacterMan/shirtsample4.gif");
}
.shirtb5 input[type='radio']:after{
    background-image: url("./media/CharacterMan/shirtsample5.gif");
}
.shirtb6 input[type='radio']:after{
    background-image: url("./media/CharacterMan/shirtsample6.gif");
}

.wshirtb1 input[type='radio']:after{
    background-image: url("./media/CharacterWoman/shirtsample1.gif");
}
.wshirtb2 input[type='radio']:after{
    background-image: url("./media/CharacterWoman/shirtsample2.gif");
}
.wshirtb3 input[type='radio']:after{
    background-image: url("./media/CharacterWoman/shirtsample3.gif");
}
.wshirtb4 input[type='radio']:after{
    background-image: url("./media/CharacterWoman/shirtsample4.gif");
}
.wshirtb5 input[type='radio']:after{
    background-image: url("./media/CharacterWoman/shirtsample5.gif");
}


/*print styles*/
.printb1 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample1.gif");
}
.printb2 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample2.gif");
}
.printb3 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample3.gif");
}
.printb4 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample4.gif");
}
.printb5 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample5.gif");
}
.printb6 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample6.gif");
}
.printb7 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample7.gif");
}
.printb8 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample8.gif");
}
.printb9 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample9.gif");
}
.printb10 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample10.gif");
}
.printb11 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample11.gif");
}
.printb12 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample12.gif");
}
.printb13 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample13.gif");
}
.printb14 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample14.gif");
}
.printb15 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample15.gif");
}
.printb16 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample16.gif");
}
.printb17 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample17.gif");
}
.printb18 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample18.gif");
}
.printb19 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample19.gif");
}
.printb20 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample20.gif");
}
.printb21 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample21.gif");
}
.printb22 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample22.gif");
}
.printb23 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample23.gif");
}
.printb24 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample24.gif");
}
.printb25 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample25.gif");
}
.printb26 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample26.gif");
}
.printb27 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample27.gif");
}
.printb28 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample28.gif");
}
.printb29 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample29.gif");
}
.printb30 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample30.gif");
}
.printb31 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample31.gif");
}
.printb32 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample32.gif");
}
.printb33 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample33.gif");
}
.printb34 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample34.gif");
}
.printb35 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample35.gif");
}
.printb36 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample36.gif");
}
.printb37 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample37.gif");
}
.printb38 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample38.gif");
}
.printb39 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample39.gif");
}
.printb40 input[type='radio']:after{
    background-image: url("./media/CharacterMan/printsample40.gif");
}


/*accessories styles*/

.accb1w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/acsample1.gif");
}
.accb2w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/acsample2.gif");
}
.accb3w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/acsample3.gif");
}
.accb4w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/acsample4.gif");
}
.accb5w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/acsample5.gif");
}
.accb6w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/acsample6.gif");
}
.accb7w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/acsample7.gif");
}
.accb8w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/acsample8.gif");
}
.accb9w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/acsample9.gif");
}
.accb10w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/acsample10.gif");
}

/*Pants styles*/
.pantb1 input[type='radio']:after{
    background-image: url("./media/CharacterMan/pantsample1.gif");
}
.pantb2 input[type='radio']:after{
    background-image: url("./media/CharacterMan/pantsample2.gif");
}
.pantb3 input[type='radio']:after{
    background-image: url("./media/CharacterMan/pantsample3.gif");
}
.pantb4 input[type='radio']:after{
    background-image: url("./media/CharacterMan/pantsample4.gif");
}
.pantb5 input[type='radio']:after{
    background-image: url("./media/CharacterMan/pantsample5.gif");
}


.pantb1w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/pantsample1.gif");
}
.pantb2w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/pantsample2.gif");
}
.pantb3w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/pantsample3.gif");
}
.pantb4w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/pantsample4.gif");
}
.pantb5w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/pantsample5.gif");
}

/**/
.shoesb1 input[type='radio']:after{
    background-image: url("./media/CharacterMan/shoessample1.gif");
}
.shoesb2 input[type='radio']:after{
    background-image: url("./media/CharacterMan/shoessample2.gif");
}
.shoesb3 input[type='radio']:after{
    background-image: url("./media/CharacterMan/shoessample3.gif");
}

.shoesb3w input[type='radio']:after{
    background-image: url("./media/CharacterWoman/shoessample3.gif");
}



/* gender styles */
.genderb input[type='radio']:after {
    color: white;
    width: 56px;
    height: 56px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    
}

.genderb input[type='radio']:checked:after{
    color: white;
    width: 56px;
    height: 56px;
    top: 6px;
    border-radius: 5px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid rgb(48, 71, 202);
    
}

.genderb1 input[type='radio']:after{
    background-image: url("./media/CharacterMan/maleIcon.gif");
}
.genderb2 input[type='radio']:after{
    background-image: url("./media/CharacterMan/femaleIcon.gif");
}



/* show and hiden forms*/
.hide-element{
    display: none;
}




    .nav .nav-item .nav-link{
    background-color:rgba(182, 182, 182, 0.178);
    opacity: 0.85;
    color: rgb(17, 2, 2) !important;
    margin-left: 1px;
    }

    .nav .nav-item:hover .nav-link, .nav .nav-item:active .nav-link{
        background-color:rgb(36, 36, 36) !important;
        opacity: 1;
        color: rgb(212, 212, 212) !important;
        }

    
        



